@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);
  body{
    background-color: #000000;
  }
  /*Main Animation*/
  #tsparticles {
    width: 100%;
    height: 100vh;
        background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .logo {
    display: inline-block;
    max-width: 60%; 
    height: auto;
    margin: 0 auto;
  }
  #tsparticles h3 {

    font-family: "Bahnschrift";
    font-size: 19rem;
    word-spacing: 8px;
    color: #addccf; 
    margin-top: -2%;
    text-align: center;
  }
  
@media (max-width: 768px) {
  .logo {
    max-width: 70%; 
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 100%; 
  }
}

  @media (min-width: 1200px) {
    #tsparticles h3 {
      font-size: 2.3rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    #tsparticles h3 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 767px) {
    #tsparticles h3 {
      font-size: 1.2rem; 
    }
  }
  @media (max-width: 516px) {
    #tsparticles h3 {
      font-size: 1rem;
    }
  }

  

  
  
/* Scroller Animation*/
  @import "https://unpkg.com/open-props";

@import "https://unpkg.com/open-props/normalize.min.css";

.wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 40dvh;
}

.scroller {
  max-width: 100%;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  margin-top: 2rem;
}

.scroller__list {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  gap: 1.5rem;
  padding-block: var(--size-3);
  animation: scroll var(--animation-duration, 5s)
    var(--animation-direction, reverse) infinite linear;

  color: #04e4b4;
  font-family: Bebas Neue;
font-size: clamp(0.8rem, 2vw, 1.2rem); 
}


.scroller[data-direction="reverse"] .scroller__list {
  --animation-direction: reverse;
}

.scroller[data-speed="slow"] .scroller__list {
  --animation-duration: 40s;
}

.scroller[data-speed="normal"] .scroller__list {
  --animation-duration: 20s;
}

.scroller[data-speed="fast"] .scroller__list {
  --animation-duration: 15s;
}

.scroller[data-speed="very fast"] .scroller__list {
  --animation-duration: 10s;
}

.scroller[data-speed="insane"] .scroller__list {
  --animation-duration: 4s;
}

.scroller__list li {
  padding-block: 0.75rem;
  margin: auto;
  padding-inline: var(--size-6);
  border-radius: var(--radius-2);
}

@keyframes scroll {
  to {
    transform: translate(calc(-60% + 0.75rem));
  }
}


@media (max-width: 1000px) {
  .scroller__list {
    animation: scroll var(--animation-duration, 5s)
      var(--animation-direction, reverse) infinite linear;
    transform: translateX(0);
  }
  @keyframes scroll {
    to {
      transform: translateX(-100%);
    }
  }
}

@media (max-width: 900px) {
  .scroller {
    max-width: 99%;
    margin: 2rem auto;
  }
  
}


/*About us */
.textbox h3 {
  font-family: 'LEMON MILK', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: clamp(24px, 5vw, 38px);
  color: #addccf;
}


   
 

    .hollow {

      padding: 5px 10px; 
      -webkit-text-stroke: 2px #04e3b3; 
      -webkit-text-stroke-width: 2px;
      color: transparent; 
    }



    .box_text {
      max-width: 70%;
      margin: 5rem auto;
      padding: 1.6rem;
      color: #d7f0e9;
word-spacing: 0.3em;
      background-image: repeating-linear-gradient(-4deg, #038365, #038365 18px, transparent 18px, transparent 30px, #038365 30px), repeating-linear-gradient(86deg, #038365, #038365 18px, transparent 18px, transparent 30px, #038365 30px), repeating-linear-gradient(176deg, #038365, #038365 18px, transparent 18px, transparent 30px, #038365 30px), repeating-linear-gradient(266deg, #038365, #038365 18px, transparent 18px, transparent 30px, #038365 30px);
      background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
    
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      margin-left: 15%; 
      margin-right: 15%; 
      font-size: clamp(1rem, 1.5vw, 1.3rem);    }
    
    .lorem{
      color: #3bbb97;
    }
    
    